#header {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 44px;
}

#body {
	display: flex;
	flex-direction: row;
}

#body_sidebar {
	width: 500px;
	font-size: 33px;
	margin: 20px;
}

span {
	text-decoration: underline;
}

#description_top {
	display: flex;
	flex-direction: row;
	flex: 3;
}

#steps {
	display: flex;
	flex-direction: row;
}


#examplepicgit {
	width: 500px;
	height: 600px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-weight: bold;
}

a:visited {
	color: grey;
}

div {
	margin: 5px;
}